.task-details {
}

.task-details .heading {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.task-details .heading h2 {
  padding: 0;
  margin: 0;
}

.task-details .heading i {
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  padding: 4px 8px;
  transition: all 200ms;
}

.task-details .heading i:hover {
  background-color: black;
  color: white;
}

.task-details label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task-details label span {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  font-weight: 1em;
  flex: 1;
}

.task-details input,
.task-details textarea {
  flex: 6;
  width: 100%;
  border-radius: 10px;
  border: solid 2px #d6dfe5;
  padding: 8px;
}

.task-details .task-notes {
  height: 300px;
}

.task-details .notes-label,
.task-details .title-label {
  border-top: solid 2px #f4f7f9;
  margin-top: 10px;
  padding-top: 10px;
}

.task-details .buttons-container {
  display: flex;
}

.task-details .btn {
  border: 0;
  border-radius: 5px;
  background-color: #f4f7f9;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 24px;
  margin: 5px;
  transition: all 200ms;
  flex-grow: 1;
}

.task-details .btn.delete-button {
  color: red;
}

.task-details .btn:hover {
  background-color: black;
  color: white;
}

.task-details .btn.delete-button:hover {
  background-color: red;
}
