.task-list ul {
  list-style: none;
  text-indent: 0;
  margin: 0;
  padding: 0;
}

.task-list ul li {
  text-indent: 0;
  margin: 0;
  padding: 0;
}

.task-list ul li > * {
  cursor: pointer;
}

.task-list ul li .toggle-complete:hover {
  font-weight: bold;
}

.task-list ul li .task-title:hover,
.task-list ul li .task-title.task-open {
  font-weight: bold;
  text-decoration: underline;
}

.task-list ul li .task-module {
  font-weight: 100;
}

.task-list ul li .task-module:hover {
  text-decoration: underline;
}

.task-list ul li.is-complete {
  color: #888;
}

.task-list .clear-filter {
  display: inline-block;
  font-weight: normal;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 3px;
  padding: 4px;
}

.task-list .clear-filter:hover {
  background-color: black;
  color: white;
}
