@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto";
}

h1 {
  font-weight: normal;
  margin: 0;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}
